<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>

  <img src="../assets/logoBuscaHotel.png" alt="" class="logoToolbar">


  <a href="https://github.com/vitorlopesnunes21" style="margin-left: 68%;">
    <span>Vitor Lopes</span>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>code</mat-icon>
  </button>
</a>

<a href="https://github.com/matheuscola15" class="gitM">
  <span>Matheus Cola</span>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>code</mat-icon>
  </button>
</a>
</mat-toolbar>

<br>
<br>


<mat-card class="cardInicio">
  <h2>Seja Bem-Vindo(a)</h2>

<br>

  <img src="../assets/logoBuscaHotel.png" alt="" class="logoBody">
</mat-card>


