<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Busca Hotel</span>


  <a href="https://github.com/vitorlopesnunes21" style="margin-left: 75%;">
    <span>Vitor Lopes</span>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>code</mat-icon>
  </button>
</a>

<a href="https://github.com/matheuscola15" class="gitM">
  <span>Matheus Cola</span>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>code</mat-icon>
  </button>
</a>


</mat-toolbar>

<br>

<h1>Página Inicial</h1>

<br>
<br>
<br>
<br>


<mat-card class="cardUm">
  <p> Esse site foi feito como um trabalho avaliativo, portanto não está completo. </p>
  <p>Aqui no nosso site você pode comparar o preço de vários sites de hotel e chegar a conclusão de qual vale o seu dinheiro.</p>
</mat-card>

