<mat-toolbar style="background-color: #d48f0e; box-shadow: 0 0 5px;">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
  </button>

  <img src="../assets/logoBuscaHotel.png" alt="" class="logoToolbar">


  <a href="https://github.com/vitorlopesnunes21" style="margin-left: 68%;">
    <span>Vitor Lopes</span>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>code</mat-icon>
  </button>
</a>

<a href="https://github.com/matheuscola15" class="gitM">
  <span>Matheus Cola</span>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>code</mat-icon>
  </button>
</a>
</mat-toolbar>

<br>
<br>



<router-outlet></router-outlet>
